<!-- wp:template-part {"slug":"header","theme":"w3csspress"} /-->

<!-- wp:query-title {"type":"archive"} /-->

<!-- wp:term-description /-->

<!-- wp:query {"queryId":1,"query":{"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","sticky":"","inherit":true,"perPage":10},"tagName":"main","displayLayout":{"type":"flex","columns":4}} -->
<main class="wp-block-query">
    <!-- wp:post-template -->
    <!-- wp:group -->
    <div class="wp-block-group">
        <!-- wp:post-title {"isLink":true} /-->

        <!-- wp:post-excerpt /-->

        <!-- wp:post-date /-->
    </div>
    <!-- /wp:group -->
    <!-- /wp:post-template -->

    <!-- wp:template-part {"slug":"footer","theme":"w3csspress"} /-->
</main>
<!-- /wp:query -->